.player-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;

  mat-card {
    mat-card-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 10px !important;

      .player-info {
        display: flex;
        justify-content: space-evenly;

        .player-number {
          width: 20%;
          border: 1px solid rgba(30, 30, 50, 0.1);
          background-color: var(--mat-sys-primary-container);
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          border-bottom-right-radius: 2px;
          border-bottom-left-radius: 2px;

          font-weight: 500;
          padding: 5px;
          font-size: 1.25rem;
        }
        .player-games {
          width: 40%;
          padding: 5px;
          font-size: 1.25rem;
        }
        .player-porcentage {
          width: 40%;
          padding: 5px;
          font-size: 1.25rem;
        }
      }

      .player-name {
        padding-bottom: 10px;
        font-size: 1.25rem;
      }
    }
  }
}

/* mobile */
@media (max-width: 480px) {
  .player-container {
    grid-template-columns: repeat(2, 50%);
  }

  .player-card {
    padding: 5px;
    mat-card {
      mat-card-content {
        padding: 5px !important;

        .player-info {
          .player-number {
            font-size: 0.75rem;
            padding-bottom: 0px;
          }
          .player-games {
            font-size: 0.75rem;
          }
          .player-porcentage {
            font-size: 0.75rem;
          }
        }
        .player-name {
          font-size: 0.75rem;
          padding-bottom: 0px;
        }
      }
    }
  }
}

/* tables and small laptops */
@media (min-width: 481px) and (max-width: 768px) {
  .player-container {
    grid-template-columns: repeat(3, 33%);
  }

  .player-card {
    mat-card {
      mat-card-content {
        padding: 5px !important;
        .player-info {
          .player-number {
            font-size: 1rem;
            padding-bottom: 0px;
          }
          .player-games {
            font-size: 1rem;
          }
          .player-porcentage {
            font-size: 1rem;
          }
        }
        .player-name {
          font-size: 1rem;
        }
      }
    }
  }
}
