@use "@angular/material" as mat;

.mat-expansion-panel-body {
  padding: 0 !important;
}

mat-expansion-panel-header {
  svg {
    fill: white !important;
  }
  mat-panel-title {
    font-size: large !important;
    font-weight: 500 !important;
  }
}

mat-card {
  mat-card-header {
    padding: 20px !important;
    font-size: 1.5rem;
  }

  mat-card-content {
    text-align: left;
    padding: 10px !important;

    h5 {
      font-size: 1.125rem !important;
      font-weight: 400 !important;
      margin: 0;
      color: #adb5bd;
    }
  }

  mat-card-footer {
    padding-top: 1rem;
  }
}

.mat-mdc-header-cell {
  background-color: var(--mat-sys-tertiary) !important;
  color: var(--mat-sys-on-tertiary) !important;
}
.table-name > h5 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: lighter;
  color: var(--mat-sys-tertiary);
}

mat-icon {
  font-size: 1.25rem;
}

mat-form-field {
  mat-icon {
    color: #adb5bd;
    padding-right: 10px;
  }
}
