/*================================
  SIZES
================================*/
.full {
  width: 100% !important;
}

.almost-full {
  width: 97.5% !important;
}

.half-full {
  width: 50% !important;
}

.flex-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
/*================================
  LAYOUT
================================*/
main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-center-flex {
  justify-content: center;
  align-items: flex-start;
}

.box {
  text-align: center;
  padding: 20px;
  border-color: #adb5bd;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 500;
}
