// Blue Colors
$blue: #001861;
$light-blue: #4868ca;
$clear-blue: #f6f6f7;
// Gray Colors
$gray: #adb5bd;
$light-gray: #e8e7ee;
$dark-gray: #424242;
$black: #212121;
$background-gray: #e1e1e1;
$background-ligth-gray: #f7f7f7;
$transparent-gray: rgb(30 30 100 / 0.1);
$transparent-ligth-gray: rgb(150 150 200 / 0.1);

// TOOLBAR
$toolbar-bgc: #fafbfc;

$left-bc: #fbfbfb;
$page-bgc: #f1f4f6;
$games-bc: #eeeeee;

// BUTTON COLORS
$primary-color: #3f6ad8;
$secondary-color: #6c757d;
$success-color: #3ac47d;
$info-color: #16aaff;
$warning-color: #f7b924;
$danger-color: #d92550;
$focus-color: #444054;
$alt-color: #794c8a;
$light-color: #989a9c;
$dark-color: #3d3f41;

$fem-color: #ed647c;
$fem-light-color: #ffecef;

$var-color: #203c6b;
$var-light-color: #e4f6ff;

$mix-color: #347928;
$mix-light-color: #e7f9d6;

$week-color: #1d1d55;
$week-light-color: #ffc801;

$new-color: #3ac47d;

$delete-color: #d92550;

$edit-color: #16aaff;

// COLOR
.color-white {
  color: white;
}
.color-blue {
  color: $blue;
}
.color-light-blue {
  color: $light-blue;
}
.color-gray {
  color: $gray;
}
.color-light-gray {
  color: $light-gray;
}
.color-dark-gray {
  color: $dark-gray;
}
.color-red {
  color: $delete-color;
}

.color-fem {
  color: $fem-color;
}
.color-light-fem {
  color: $fem-light-color;
}
.color-var {
  color: $var-color;
}
.color-light-var {
  color: $var-light-color;
}
.color-mix {
  color: $mix-color;
}
.color-light-mix {
  color: $mix-light-color;
}
// BACKGROUND-COLOR
.bg-color-blue {
  background-color: $blue;
}
.bg-color-light-blue {
  background-color: $light-blue;
}
.bg-color-gray {
  background-color: $gray;
}
.bg-color-light-gray {
  background-color: $light-gray;
}
.bg-color-dark-gray {
  background-color: $dark-gray;
}
.bg-color-fem {
  background-color: $fem-color;
}
.bg-color-light-fem {
  background-color: $fem-light-color;
}
.bg-color-var {
  background-color: $var-color;
}
.bg-color-light-var {
  background-color: $var-light-color;
}
.bg-color-mix {
  background-color: $mix-color;
}
.bg-color-light-mix {
  background-color: $mix-light-color;
}
