@use "@angular/material" as mat;

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  h4 {
    font-weight: 500;
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  background-repeat: no-repeat;

  background-image:
    linear-gradient(
      to right,
      var(--mat-sys-secondary-container),
      var(--mat-sys-secondary-container)
    ),
    linear-gradient(to right, var(--mat-sys-primary), var(--mat-sys-primary));

  background-position:
    0 0,
    0 216px;

  background-size:
    100% 216px,
    100% 10px;
}

.top-bar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-secondary-container),
      container-text-color: var(--mat-sys-on-secondary-container),
    )
  );
}

@include mat.menu-overrides(
  (
    item-label-text-color: var(--mat-sys-primary),
  )
);

mat-toolbar {
  position: relative;
  z-index: 5;
  $grow: 1.1;
  $effect: 0.3s;

  display: flex;
  justify-content: space-between;
  padding-top: 40px !important;
  padding-bottom: 40px !important;

  .logo {
    padding-left: 2.5%;
    display: flex;
    text-align: left;
    transition: $effect ease;
  }

  .logo :hover {
    -webkit-transform: scale($grow);
    -ms-transform: scale($grow);
    transform: scale($grow);
    transition: $effect ease;
  }
}

.navigation {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  justify-content: start;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );

  @include mat.icon-overrides(
    (
      color: var(--mat-sys-on-primary),
    )
  );
}

.navigation > button {
  margin-left: 10px;
}
