<section>
  <div class="example-label">Text</div>
  <div class="example-button-row">
    <button matButton>Basic</button>
    <button matButton disabled>Disabled</button>
    <a matButton href="https://www.google.com/" target="_blank">Link</a>

    <button matButton class="orange-theme">orange-theme</button>
    <button matButton class="red-theme">red-theme</button>
    <button matButton class="yellow-theme">WEEK</button>
    <button matButton class="pink-theme">pink-theme</button>
    <button matButton class="blue-theme">blue-theme</button>
    <button matButton class="green-theme">green-theme</button>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Elevated</div>
  <div class="example-button-row">
    <button matButton="elevated">Basic</button>
    <button matButton="elevated" disabled>Disabled</button>
    <a matButton="elevated" href="https://www.google.com/" target="_blank"
      >Link</a
    >

    <button matButton="elevated" class="orange-theme">orange-theme</button>
    <button matButton="elevated" class="red-theme">red-theme</button>
    <button matButton="elevated" class="yellow-theme">WEEK</button>
    <button matButton="elevated" class="pink-theme">pink-theme</button>
    <button matButton="elevated" class="blue-theme">blue-theme</button>
    <button matButton="elevated" class="green-theme">green-theme</button>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Outlined</div>
  <div class="example-button-row">
    <button matButton="outlined">Basic</button>
    <button matButton="outlined" disabled>Disabled</button>
    <a matButton="outlined" href="https://www.google.com/" target="_blank"
      >Link</a
    >

    <button matButton="outlined" class="orange-theme">orange-theme</button>
    <button matButton="outlined" class="red-theme">red-theme</button>
    <button matButton="outlined" class="yellow-theme">WEEK</button>
    <button matButton="outlined" class="pink-theme">pink-theme</button>
    <button matButton="outlined" class="blue-theme">blue-theme</button>
    <button matButton="outlined" class="green-theme">green-theme</button>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Filled</div>
  <div class="example-button-row">
    <button matButton="filled">Basic</button>
    <button matButton="filled" disabled>Disabled</button>
    <a matButton="filled" href="https://www.google.com/" target="_blank"
      >Link</a
    >
    <button matButton="filled" class="orange-theme">orange-theme</button>
    <button matButton="filled" class="red-theme">red-theme</button>
    <button matButton="filled" class="yellow-theme">WEEK</button>
    <button matButton="filled" class="pink-theme">pink-theme</button>
    <button matButton="filled" class="blue-theme">blue-theme</button>
    <button matButton="filled" class="green-theme">green-theme</button>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Tonal</div>
  <div class="example-button-row">
    <button matButton="tonal">Basic</button>
    <button matButton="tonal" disabled>Disabled</button>
    <a matButton="tonal" href="https://www.google.com/" target="_blank">Link</a>
    <button matButton="tonal" class="orange-theme">orange-theme</button>
    <button matButton="tonal" class="red-theme">red-theme</button>
    <button matButton="tonal" class="yellow-theme">WEEK</button>
    <button matButton="tonal" class="pink-theme">pink-theme</button>
    <button matButton="tonal" class="blue-theme">blue-theme</button>
    <button matButton="tonal" class="green-theme">green-theme</button>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button
        matIconButton
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <button
        matIconButton
        disabled
        aria-label="Example icon button with a open in new tab icon"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button matIconButton class="orange-theme">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button matIconButton class="red-theme">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button matIconButton class="yellow-theme">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button matIconButton class="pink-theme">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button matIconButton class="blue-theme">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button matIconButton class="green-theme">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button matIconButton class="red-theme">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Floating Action Button (FAB)</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button matFab aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
      <button
        matFab
        disabled
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        matFab
        class="orange-theme"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        matFab
        class="red-theme"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        matFab
        class="yellow-theme"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        matFab
        class="pink-theme"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        matFab
        class="blue-theme"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        matFab
        class="green-theme"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button matMiniFab aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button
        matMiniFab
        disabled
        aria-label="Example icon button with a home icon"
      >
        <mat-icon>home</mat-icon>
      </button>
      <button matMiniFab class="orange-theme">
        <mat-icon>menu</mat-icon>
      </button>
      <button matMiniFab class="red-theme">
        <mat-icon>menu</mat-icon>
      </button>
      <button matMiniFab class="yellow-theme">
        <mat-icon>menu</mat-icon>
      </button>
      <button matMiniFab class="pink-theme">
        <mat-icon>menu</mat-icon>
      </button>
      <button matMiniFab class="blue-theme">
        <mat-icon>menu</mat-icon>
      </button>
      <button matMiniFab class="green-theme">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Extended FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button matFab extended>
        <mat-icon>favorite</mat-icon>
        Basic
      </button>
      <button matFab extended disabled>
        <mat-icon>favorite</mat-icon>
        Disabled
      </button>
      <a matFab extended routerLink=".">
        <mat-icon>favorite</mat-icon>
        Link
      </a>
      <button matFab extended class="orange-theme">
        <mat-icon>favorite</mat-icon>
        Basic
      </button>
      <button matFab extended class="red-theme">
        <mat-icon>favorite</mat-icon>
        Basic
      </button>
      <button matFab extended class="yellow-theme">
        <mat-icon>favorite</mat-icon>
        Basic
      </button>
      <button matFab extended class="pink-theme">
        <mat-icon>favorite</mat-icon>
        Basic
      </button>
      <button matFab extended class="blue-theme">
        <mat-icon>favorite</mat-icon>
        Basic
      </button>
      <button matFab extended class="green-theme">
        <mat-icon>favorite</mat-icon>
        Basic
      </button>
    </div>
  </div>
</section>
