@if (dataSource) {
<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
  [ngClass]="{
      'pink-theme': category === 'FEMENIL',
      'blue-theme': category === 'VARONIL',
      'green-theme': category === 'MIXTO',
    }"
>
  <!-- STANDING DATA -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
          'default red-theme': !element.team.isActive,
          'playoff-standings': element.position <= elimination!,
        }"
    >
      {{ element.position }}
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>EQUIPO</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
          'default red-theme': !element.team.isActive,
          'playoff-standings': element.position <= elimination!,
        }"
    >
      {{ element.team.name | uppercase}}
    </td>
  </ng-container>
  <ng-container matColumnDef="games">
    <th mat-header-cell *matHeaderCellDef>JUEGOS</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
          'default red-theme': !element.team.isActive,
          'playoff-standings': element.position <= elimination!,
        }"
    >
      {{ element.teamJG }}-{{ element.teamJP }} @if (element.teamDJ > 0) { (+{{
      element.teamDJ }}) } @else { ({{ element.teamDJ }}) }
    </td>
  </ng-container>
  <ng-container matColumnDef="sets">
    <th mat-header-cell *matHeaderCellDef>SETS</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
          'default red-theme': !element.team.isActive,
          'playoff-standings': element.position <= elimination!,
        }"
    >
      {{ element.teamSG }}-{{ element.teamSP }} @if (element.teamDS > 0) { (+{{
      element.teamDS }}) } @else { ({{ element.teamDS }}) }
    </td>
  </ng-container>
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef>PUNTOS</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
          'default red-theme': !element.team.isActive,
          'playoff-standings': element.position <= elimination!,
        }"
    >
      {{ element.teamPG }}-{{ element.teamPP }} @if (element.teamDP > 0) { (+{{
      element.teamDP }}) } @else { ({{ element.teamDP }}) }
    </td>
  </ng-container>
  <!-- EXPANDED DATA -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        matIconButton
        aria-label="expand row"
        (click)="toggle(element); $event.stopPropagation()"
        class="example-toggle-button"
        [class.example-toggle-button-expanded]="isExpanded(element)"
      >
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsExpanded.length"
    >
      <div
        class="example-element-detail-wrapper"
        [class.example-element-detail-wrapper-expanded]="isExpanded(element)"
      >
        <div class="example-element-detail">
          <app-team-ui [team]="element.team" [teamFilter]="0"></app-team-ui>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsExpanded"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsExpanded;"
    class="example-element-row"
    [class.example-expanded-row]="isExpanded(element)"
    (click)="toggle(element)"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>
} @else {
<h4>Loading...</h4>
}
