<div [ngClass]="isPlayoffs ? 'team' : 'match-box'">
  <div class="match-info">
    @if (!isPlayoffs) {
    <div
      [ngClass]="{
      'pink-theme': game.category === 'FEMENIL',
      'blue-theme': game.category === 'VARONIL',
      'green-theme': game.category === 'MIXTO',
      }"
      class="match-category"
    >
      {{ game.category }}
    </div>
    } @if(!displayName) {
    <div class="match-time">
      {{ game.gameDate | date: "EEEE, d MMM h:mm a" : 'es-MX' | uppercase }} @if
      (!isPlayoffs) { (J{{ game.weekNumber }}) }
    </div>
    } @else{
    <div class="match-time">
      {{ game.gameDate | date: "h:mm a" | uppercase }}
    </div>

    } @if (!isPlayoffs) {
    <div
      class="match-place"
      [ngClass]="game.gamePlace === 'ARRIBA' ?'green-theme':'red-theme'"
    >
      <mat-icon
        >{{game.gamePlace === "ARRIBA"?
        'arrow_circle_up':'arrow_circle_down'}}</mat-icon
      >
      &nbsp;{{ game.gamePlace }}
    </div>
    }
  </div>
  @for (teamStat of game.teamStats; track $index) {
  <div class="match-details">
    <div
      [ngClass]="{

          winner: teamStat.state === 'WINNER' && teamStat.teamName !== teamFilter,
          losser: teamStat.state === 'LOSSER' && teamStat.teamName !== teamFilter,
          default:
            teamStat.state === 'DEFAULT' && teamStat.teamName !== teamFilter,
          'winner-selected green-theme':
            teamStat.state === 'WINNER' && teamStat.teamName === teamFilter,
          'losser-selected orange-theme':
            teamStat.state === 'LOSSER' && teamStat.teamName === teamFilter,
          'default-selected red-theme':
            teamStat.state === 'DEFAULT' && teamStat.teamName === teamFilter,
        }"
      class="match-team"
    >
      {{ getTeamName(teamStat.teamName, $index) }}
    </div>
    <div class="match-results">
      <div [ngClass]="teamStat.state | lowercase" class="match-sets">
        {{ teamStat.sets }}
      </div>
      @for (setStat of teamStat.setStats; track $index) { @if(game.stage !==
      'PLAYOFFS' && $index < 3) { @if(setStat.state !== 'PENDING') {
      <div [ngClass]="setStat.state | lowercase" class="match-points">
        {{ setStat.points }}
      </div>
      }@else{
      <div [ngClass]="setStat.state | lowercase" class="match-points"></div>
      }} }
    </div>
  </div>
  @if (!isPlayoffs) {
  <div class="match-players">
    @for (player of teamStat.players; track $index) {
    <div
      [ngClass]="player.gamePlayed ? 'green-theme game-played' : ''"
      class="match-player"
    >
      {{ player.number }}
    </div>
    } @empty {
    <div></div>
    }
  </div>
  } }
</div>
