.match-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--mat-sys-on-secondary) !important;
  color: var(--mat-sys-secondary) !important;
  font-weight: 400;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 10px;
}
.match-info {
  display: flex;
  justify-content: space-between;
}
.match-category {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  padding: 5px 10px;
  width: fit-content;
  height: fit-content;
}
.match-place {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.match-time {
  padding: 5px 10px;
  font-size: 1.125rem;
  font-weight: 450;
}
.match-details {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.match-team {
  padding: 0px 10px;
  font-size: 1.3em;
  font-weight: 450;
  text-align: left;
}
// 375px for mobile, 768px for tablets, and a 1200-1440px container width for desktops
.match-results {
  display: flex;
  flex-direction: row;
  align-items: left;
}
.match-sets {
  width: 30px;
  color: #8a8a8a;
  font-size: 26px;
  font-weight: 450;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.match-points {
  width: 25px;
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 450;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.winner {
  color: var(--mat-sys-on-secondary-container) !important;
  font-weight: 500 !important;
}
.losser {
  color: var(--mat-sys-outline) !important;
  font-weight: 400 !important;
}
.default {
  text-decoration: line-through;
  font-weight: 400 !important;
  color: var(--mat-sys-on-error-container);
}

.winner-selected {
  color: green;
  font-weight: 550 !important;
}
.losser-selected {
  color: #9ac09c;
  font-weight: 500 !important;
}
.default-selected {
  text-decoration: line-through;
  color: #c84646;
}

.match-players {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  gap: 5px;
}

.match-player {
  background: var(--mat-sys-on-secondary);
  border: 1px solid var(--mat-sys-outline);

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 2px 4px 2px 4px;
  font-size: 12px;
  color: var(--mat-sys-on-secondary-container);
}

.game-played {
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}
