.match-container {
  display: grid;
  justify-content: center;
}

@media (max-width: 768px) {
  .match-container {
    grid-template-columns: 100%;
  }
}

@media (min-width: 769px) {
  .match-container {
    grid-template-columns: 50% 50%;
  }
}
.match-header {
  background-color: var(--mat-sys-tertiary) !important;
  color: var(--mat-sys-on-tertiary) !important;
  text-align: left;
  font-size: large !important;
  font-weight: 500 !important;
  padding: 20px 25px 20px 25px;
  border-radius: 50px 10px;
}
