h1 {
  font-size: 1.5rem;
}

b {
  font-weight: 500;
}

/* mobile (portrait) 320-480*/

@media (max-width: 480px) {
  ul {
    padding-inline-start: 10px;
  }

  h1 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  ul {
    padding-inline-start: 20px;
  }
}
