@use "@angular/material" as mat;
.top-bar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-secondary-container),
      container-text-color: var(--mat-sys-on-secondary-container),
    )
  );
}

@include mat.menu-overrides(
  (
    item-label-text-color: var(--mat-sys-primary),
  )
);

mat-toolbar {
  position: relative;
  z-index: 5;
  $grow: 1.1;
  $effect: 0.3s;

  display: flex;
  justify-content: space-between;
  padding-top: 40px !important;
  padding-bottom: 40px !important;

  .logo {
    padding-left: 2.5%;
    display: flex;
    text-align: left;
    transition: $effect ease;
  }

  .logo :hover {
    -webkit-transform: scale($grow);
    -ms-transform: scale($grow);
    transform: scale($grow);
    transition: $effect ease;
  }

  .login {
    display: flex;
    align-content: center;
    padding-right: 2.5%;
  }
}

.navigation {
  padding-left: 2.5% !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  justify-content: start;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );

  @include mat.icon-overrides(
    (
      color: var(--mat-sys-on-primary),
    )
  );
}

.navigation > button {
  margin-left: 10px;
}
